.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
}

.error-img {
  background-image: url(../../../assets/img/error.png);
  width: 60vh;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.error-text {
  margin-top: 10px;
}
